<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ottt.ottt.controller.ContentMapper">
  
  <select id="ratingSelect" resultType="ContentDTO">
		SELECT a.content_no, a.thumbnail, a.country, a.rating, c.category_nm 
		FROM tb_content a JOIN tb_content_category b
		ON  a.content_no = b.content_no
		JOIN tb_category c
		ON b.category_no = c.category_no
		order by a.rating desc
		limit 14
  </select>
  
	<select id="ottNameSelect" parameterType="int" resultType="ContentOTTDTO">
		SELECT a.content_no, b.ott_img 
		FROM tb_content_ott a
		JOIN tb_ott b ON a.ott_no = b.ott_no
		where a.content_no = #{content_no}	
	</select>
	
	<select id="movieSelect" parameterType="SearchItem" resultType="ContentDTO">
		SELECT a.content_no, a.thumbnail, a.country, a.rating, c.category_nm 
		FROM tb_content a JOIN tb_content_category b 
		ON a.content_no = b.content_no 
		JOIN tb_category c
		ON b.category_no = c.category_no
		order by a.content_no desc
		limit #{pageSize} offset #{offset}
  	</select>
  	
  	<select id="movieCount" parameterType="SearchItem" resultType="int">
  		select count(*) 
		from tb_content
  	</select>
  	
  	<!-- <select id="searchSelect" parameterType="map" resultType="ContentDTO">
		SELECT a.content_no, a.content_nm, a.country, a.rating, a.thumbnail 
		FROM tb_content a
		JOIN tb_content_genre c ON a.content_no = c.content_no
		JOIN tb_content_ott d ON a.content_no = d.content_no
		JOIN tb_content_category f ON a.content_no = f.content_no
		WHERE 
		<if test="content_nm != null and !content_nm.isEmpty()">
			a.content_nm LIKE CONCAT('%', #{content_nm}, '%') 		
		</if> 
		<if test="(content_nm != null and !content_nm.isEmpty()) and ((ott_no != null and !ott_no.isEmpty()) || (gerne_no != null and !gerne_no.isEmpty()) || (category_no != null and !category_no.isEmpty()))">
			and
		</if>
		   <if test="ott_no != null and !ott_no.isEmpty()">		   		 
		   		<foreach collection="ott_no" item="ottno" separator="," open="(" close=")">
		   			d.ott_no in #{ottno} or
		   		</foreach>		   
		   </if>
		   <if test="gerne_no != null and !gerne_no.isEmpty()">		   		
		   		<foreach collection="gerne_no" item="gerneno" separator="," open="(" close=")">
		   			c.genre_no in #{gerneno} or 
		   		</foreach>		   
		   </if>
		   <if test="category_no != null and !category_no.isEmpty()">		   		 
		   		<foreach collection="category_no" item="categoryno" separator="," open="(" close=")">
		   			f.category_no in #{categoryno} or
		   		</foreach>		   
		   </if>		   
		group by a.content_no  
		<include refid="searchOption" />	
		limit #{SearchItem.pageSize} offset #{SearchItem.offset}	
  	</select> -->
  	
  	<select id="searchSelect" parameterType="map" resultType="ContentDTO">
	    SELECT a.content_no, a.content_nm, a.country, a.rating, a.thumbnail 
	    FROM tb_content a
	    JOIN tb_content_genre c ON a.content_no = c.content_no
	    JOIN tb_content_ott d ON a.content_no = d.content_no
	    JOIN tb_content_category f ON a.content_no = f.content_no
	    WHERE 
	    <if test="content_nm != null and !content_nm.isEmpty()">
	        a.content_nm LIKE CONCAT('%', #{content_nm}, '%') 		
	    </if> 
	    <if test="(content_nm != null and !content_nm.isEmpty()) and ((ott_no != null and !ott_no.isEmpty()) || (gerne_no != null and !gerne_no.isEmpty()) || (category_no != null and !category_no.isEmpty()))">
	        and (
	    </if>
	    <if test="ott_no != null and !ott_no.isEmpty()">
	        d.ott_no in
	        <foreach collection="ott_no" item="ottno" separator="," open="(" close=")">
	            #{ottno}
	        </foreach>	
	    </if>
	    <if test="gerne_no != null and !gerne_no.isEmpty()">
	        <if test="ott_no != null and !ott_no.isEmpty()">
	            or
	        </if>
	        c.genre_no in
	        <foreach collection="gerne_no" item="gerneno" separator="," open="(" close=")">
	            #{gerneno}
	        </foreach>		   
	    </if>
	    <if test="category_no != null and !category_no.isEmpty()">
	        <if test="(ott_no != null and !ott_no.isEmpty()) or (gerne_no != null and !gerne_no.isEmpty())">
	            or
	        </if>
	        f.category_no in
	        <foreach collection="category_no" item="categoryno" separator="," open="(" close=")">
	            #{categoryno}
	        </foreach>		   
	    </if>
	    <if test="(content_nm != null and !content_nm.isEmpty()) and ((ott_no != null and !ott_no.isEmpty()) || (gerne_no != null and !gerne_no.isEmpty()) || (category_no != null and !category_no.isEmpty()))">
	        )
	    </if>
	    group by a.content_no  
	    <include refid="searchOption" />	
	    limit #{SearchItem.pageSize} offset #{SearchItem.offset}	
	</select>
  	
  	<sql id="searchOption">
  		<choose>
  			<when test='option=="date"'>
  				order by a.content_no desc
  			</when>
  			<otherwise>
  				order by a.rating desc
  			</otherwise>
  		</choose>  	
  	</sql>
  	
  	<!-- <select id="searchCount" parameterType="map" resultType="int">
		SELECT COUNT(DISTINCT a.content_no)
		FROM tb_content a
		JOIN tb_content_genre c ON a.content_no = c.content_no
		JOIN tb_content_ott d ON a.content_no = d.content_no
		JOIN tb_content_category f ON a.content_no = f.content_no
		WHERE 
		<if test="content_nm != null and !content_nm.isEmpty()">
			a.content_nm LIKE CONCAT('%', #{content_nm}, '%')  		
		</if> 
		<if test="(content_nm != null and !content_nm.isEmpty()) and ((ott_no != null and !ott_no.isEmpty()) || (gerne_no != null and !gerne_no.isEmpty()) || (category_no != null and !category_no.isEmpty()))">
			and
		</if>
		   <if test="ott_no != null and !ott_no.isEmpty()">		   		  
		   		<foreach collection="ott_no" item="ottno" separator="," open="(" close=")">
		   			d.ott_no in #{ottno} or
		   		</foreach>   
		   </if>
		   <if test="gerne_no != null and !gerne_no.isEmpty()">		   		 
		   		<foreach collection="gerne_no" item="gerneno" separator="," open="(" close=")">
		   			c.genre_no in #{gerneno} or
		   		</foreach>		   
		   </if>
		   <if test="category_no != null and !category_no.isEmpty()">		   		 
		   		<foreach collection="category_no" item="categoryno" separator="," open="(" close=")">
		   			f.category_no in #{categoryno} or
		   		</foreach>		   
		   </if>		   
	</select> -->
	<select id="searchCount" parameterType="map" resultType="int">
	    SELECT COUNT(DISTINCT a.content_no)
	    FROM tb_content a
	    JOIN tb_content_genre c ON a.content_no = c.content_no
	    JOIN tb_content_ott d ON a.content_no = d.content_no
	    JOIN tb_content_category f ON a.content_no = f.content_no
	    WHERE 
	    <if test="content_nm != null and !content_nm.isEmpty()">
	        a.content_nm LIKE CONCAT('%', #{content_nm}, '%') 		
	    </if> 
	    <if test="(content_nm != null and !content_nm.isEmpty()) and ((ott_no != null and !ott_no.isEmpty()) || (gerne_no != null and !gerne_no.isEmpty()) || (category_no != null and !category_no.isEmpty()))">
	        and (
	    </if>
	    <if test="ott_no != null and !ott_no.isEmpty()">
	        d.ott_no in
	        <foreach collection="ott_no" item="ottno" separator="," open="(" close=")">
	            #{ottno}
	        </foreach>	
	    </if>
	    <if test="gerne_no != null and !gerne_no.isEmpty()">
	        <if test="ott_no != null and !ott_no.isEmpty()">
	            or
	        </if>
	        c.genre_no in
	        <foreach collection="gerne_no" item="gerneno" separator="," open="(" close=")">
	            #{gerneno}
	        </foreach>		   
	    </if>
	    <if test="category_no != null and !category_no.isEmpty()">
	        <if test="(ott_no != null and !ott_no.isEmpty()) or (gerne_no != null and !gerne_no.isEmpty())">
	            or
	        </if>
	        f.category_no in
	        <foreach collection="category_no" item="categoryno" separator="," open="(" close=")">
	            #{categoryno}
	        </foreach>		   
	    </if>
	    <if test="(content_nm != null and !content_nm.isEmpty()) and ((ott_no != null and !ott_no.isEmpty()) || (gerne_no != null and !gerne_no.isEmpty()) || (category_no != null and !category_no.isEmpty()))">
	        )
	    </if>
	</select>

 
  </mapper>