@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.mnb {
    width: 1200px;
    border-top: 3px solid #33ff33;
    border-bottom: 3px solid #33ff33;
}

.mnb > ul{
    display: flex;
    margin: 0;
}

.mnb > ul > li{
    width: 200px;
    height: 20px;
    text-align: center;
    line-height: 0px;
    margin-top: 20px;
    margin-right: 40px;
}

.mnb a{
    font-size: 25px;
}

.mnb > ul > li > a:hover{
    color: #33ff33 !important;
}