@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


.mnb2 {
    width: 1200px;
    margin: 20px auto;
    border-top: 3px solid #33ff33;
    border-bottom: 3px solid #33ff33;
}

.mnb2 > ul{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding-left: 2rem;
}

.mnb2 > ul > li{
    width: 200px;
    height: 20px;
    text-align: center;
    line-height: 0px;
    margin-top: 20px;
    margin-right: 40px;
}

.mnb2 a{
    font-size: 25px;
}

.mnb2 > ul > li > a:hover{
    color: #33ff33 !important;
}
