<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.ottt.ottt.dao.review.reviewMapper">
   <!-- 리뷰 페이지  -->
   <delete id="delete" parameterType="map">
           delete from tb_review 
           where review_no = #{review_no} and user_no = #{user_no}
   </delete>
     
     <update id="update" parameterType="ReviewDTO" >
           update tb_review set review_content=#{review_content}, rating=#{rating}
         where review_no=#{review_no} and user_no=#{user_no}
    </update>
    
    
    <insert id="insert" parameterType="ReviewDTO">
           insert into tb_review (user_no, rating , review_content)
         values (#{user_no}, #{rating}, #{review_content})
    </insert>
    
   <select id="selectAll" resultType="ReviewDTO">
      select user_nicknm, rating, review_content, review_no, tb_review.user_no, review_no, review_create_dt, content_no, comment_cnt
      from tb_review, tb_user
      where tb_review.user_no = tb_user.user_no
      order by review_no DESC
   </select>          
        
   <select id="count" resultType="int">
      select count(*) from tb_review
   </select>
   
   <select id="ratingAvg" resultType="double">
    select round(AVG(rating),1) from tb_review
   </select>
   
   <select id="selectReview" parameterType="map" resultType="ReviewDTO">
      SELECT review_no, content_no, a.rating, review_content, review_create_dt, b.user_nicknm, b.user_no, comment_cnt  
      FROM tb_review a, tb_user b
      where a.user_no = b.user_no and a.content_no = #{content_no} and b.user_no = #{user_no}
   </select>  
   
   <update id="updateCommentCnt" parameterType="map">
  	update tb_review 
	set comment_cnt = comment_cnt + #{cnt}
	where review_no = #{review_no}
   </update> 
   
   <update id="deleteCommentCnt" parameterType="map">
    update tb_review 
	set comment_cnt = comment_cnt - #{cnt}
	where review_no = #{review_no}
   </update>    
   
   
   <!-- 리플 페이지  -->     
   <select id="selectReply" parameterType="Integer" resultType="CommentDTO">
   select cmt_no, user_no, review_no, cmt_content, cmt_writer, cmt_dt, cmt_mod_dt,
   from tb_comment
   where cmt_no = #{cmt_no};
   </select>
   
   <select id="replyReview" parameterType="map" resultType="ReviewDTO">
   	  SELECT review_no, content_no, tb_review.rating, review_content, review_create_dt, tb_user.user_nicknm, tb_user.user_no, tb_review.comment_cnt  
      FROM tb_review, tb_user
      where tb_review.review_no =#{review_no} and tb_review.user_no = tb_user.user_no
   </select>
   
   <select id="allreply" parameterType="Integer" resultType="CommentDTO">
	select user_nicknm, tb_comment.user_no, tb_comment.review_no, cmt_no, cmt_dt, cmt_content
	from tb_comment, tb_user, tb_review 
	where tb_comment.review_no = tb_review.review_no and tb_comment.user_no = tb_user.user_no and tb_comment.review_no = #{review_no} 
	order by cmt_no DESC  
   </select>
	
	<select id="replyCount" resultType="int" parameterType="Integer">
	select count(*) 
	from tb_comment 
	where tb_comment.review_no = #{review_no} 	
	</select>
    
    <insert id="insertReply" parameterType="CommentDTO">
    INSERT INTO tb_comment (user_no, review_no, cmt_content, cmt_writer)
	SELECT #{user_no}, #{review_no}, #{cmt_content}, #{user_nicknm}
	FROM tb_user 
	WHERE tb_user.user_no = #{user_no}
	</insert> 
	
	<delete id="deleteReply" parameterType="map">
    delete from tb_comment 
    where cmt_no = #{cmt_no} and user_no = #{user_no}
    </delete>
</mapper>