<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ottt.ottt.dao.mypage.WatchedMapper">
  	  
	  <select id="watchedListSelect" parameterType="SearchItem" resultType="WatchedDTO">
		SELECT distinct a.user_no, a.content_no, b.category_no
			, c.content_nm, c.thumbnail, a.watched_date, d.rating
		FROM tb_watched a
		join tb_content_category b
		on a.content_no = b.content_no
		join tb_content c
		on b.content_no = c.content_no
		left join tb_review d
		on a.content_no = d.content_no
		and a.user_no = d.user_no
		where a.user_no = #{user_no}
		<include refid="selectCategory" />
		order by a.watched_date desc
		limit #{pageSize} offset #{offset}
	  </select>
	  
	  <sql id="selectCategory">
	  	<choose>
			<when test='categoryNo == 1'>
				and b.category_no = 1
			</when>
			<when test='categoryNo == 2'>
				and b.category_no = 2
			</when>
			<when test='categoryNo == 3'>
				and b.category_no = 3
			</when>
			<when test='categoryNo == 4'>
				and b.category_no = 4
			</when>
			<otherwise>
			</otherwise>
		</choose>
	  
	  </sql>	  
	  
	  <select id="watchedListCnt" parameterType="SearchItem" resultType="int">
	  	select count(*)
		from tb_watched a
		join tb_content_category b
		on a.content_no = b.content_no 
		where a.user_no = #{user_no}
		<include refid="selectCategory" />
	  </select>
	  
	  <insert id="watchedInsert" parameterType="map">
		INSERT INTO tb_watched
		(user_no, content_no)
		VALUES(#{user_no}, #{content_no})  
	  </insert>
	  
	  <delete id="watchedDelete" parameterType="map">
		DELETE FROM tb_watched
		WHERE user_no = #{user_no} and content_no = #{content_no} 
	  </delete>

	  <select id="watchedSelectOneByUser" parameterType="map" resultType="int">
	    SELECT COUNT(*) 
	    FROM tb_watched 
	    WHERE user_no = #{user_no} 
	    AND content_no = #{content_no}
	 </select>
  
  
  </mapper>