<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.ottt.ottt.dao.community.notice.commentMapper">
 
 	<delete id="delete" parameterType="int">
 		delete from tb_comment 
 		where cmt_no = #{cmt_no}
 	</delete>
 	
 	<select id="selectList" parameterType="int" resultType="CommentDTO">
 		select * from tb_comment
 		where article_no = #{article_no}
 		order by cmt_dt desc
 	</select>
 	
 	<insert id="insert" parameterType="CommentDTO">
 		INSERT INTO public.tb_comment
		(user_no, article_no, cmt_content, cmt_writer, cmt_dt)
		VALUES(#{user_no}, #{article_no}, #{cmt_content}, #{cmt_writer}, now())
 	</insert>
 	
 	<update id="update" parameterType="CommentDTO">
		UPDATE tb_comment
		SET cmt_content=#{cmt_content}, cmt_mod_dt=now()
		WHERE cmt_no=#{cmt_no}	
 	</update>
 
 	<select id="count" parameterType="int">
 		select count(*) from tb_comment
 		where article_no = #{article_no}
 	</select>
 
 </mapper>