@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    
     
}
button{
    all: unset;
}

.net-logo{
	
    width:  300px;
    height: 200px; 
    padding: 10px;
    display: flex;
    border: 1px solid red;
    box-sizing: border-box;
    overflow: hidden;
    flex-wrap: wrap;
    

}




.net-logo img{
	margin: 10px 13px;
	
}


.date-insert{
	position: absolute;
	right: 140px;
	top: 6.7px;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: gray;
	height: 37.5px;
	padding-top: 5px;
	width: 120px;
	padding-left: 5px;
}


a{
    text-decoration: none;
    color: #ffffff;
    display: block;
}

a:hover {
    text-decoration: none;
    color: #33ff33;
    display: block;
}

ul,li,ol{
    list-style: none;
}

body{  
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    /* color: var(--bs-body-color); */
    text-align: var(--bs-body-text-align);
    /* background-color: var(--bs-body-bg); */
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: #202020;
    color: #fff;
}

.wrap{
    width: 100%;
    height: 100%;
    position: relative;
}

/* header */

header{
    width: 1200px;
    height: 130px;
    position: sticky;
    margin: 0 auto;
    border-bottom: 1px solid #33ff33;
    display: flex;
}

.logo{
    width: 230px;
    height : 95px;   
    margin-top: 30px;
}

.logo > a > img{
    margin-top: 2.5px;
    width: 200px;
}

.gnb > ul{
    display: flex;
}

.gnb > ul > li{
    width: 70px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-top: 30px;
    margin-right:5px;
    color: #33ff33;
}

.gnb a{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.gnb > ul > li > a:hover{
    color: #33ff33;
}

.h-icon{
    width: 120px;
    height: 58px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.h-icon > ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
}

/* .h-icon  img{
    width: 50px;
} */

/* main */

/* section01 */


.sec01{
    width: 1200px;
    margin: 0 auto;
    display: flex;

    margin-top: 40px;   
    
}

.banner{
    width: 19rem; 
    height: 15rem; 
    background-color: #3F3B3B;
    border: 4px solid #3F3B3B;

    box-sizing: border-box;
}

.banner-header {
    background-color: #3F3B3B; 
    color: white;
    height: 35px;   
    position: relative;
    top: 2%;   
}

.banner-header > p {
    position: relative;
    left: 6%;
}

.banner-body{
    background-color: #202020;
    position: relative;
    height: 12.3rem;
}

.watcha {
    position:absolute;
    left: 10px;
    top: 10px;
    margin-right: 10px;
}

.netfilx {
    position:absolute;
    left: 80px;
    top: 10px;
    margin-left: 30px;
}

.main-img {
    margin-top: 15px;
    margin-left:100px;
    scale: 1.1;
    
   

}

.a1 > a{
    display: inline;
    color: #33ff33;
}


.info-detail{
    display: flex;
}

.info {
    margin-left: 30px;
 
}

.info-title > a > h1 {
    color: #33ff33;
}

.info-title > h4 {
    color: #33ff33;
    font-style: italic;
}

.info-director{
    display: flex;
}

.info-main_actor{
    display: flex;
}

.info-supporting_actor{
    display: flex;
}



.myReview{

	    width: 1200px;
    height: auto;
    margin: 0 auto;

}

.mytextReview{
	left: 320px;
	position: absolute;
	top: 15px;
	width: 200px;
	font-size: 25px;
}


.review-box1{
    width: 800px;    
    background-color: #3F3B3B; 
    border: 2px solid rgba(255, 255, 255, 0.493);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 327px;
    position: relative;
}













.sec02{   
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;

    margin-top: 40px;
    position: relative;  
     
}
.left-box{
    width: 300px;
    height: 500px;

    position: absolute;
  
  
}

.left-box button:nth-child(4) img{
	width: 70px;
	height: 70px;
	margin-right: 0;
	transform: translateX(-20%);

}
.left-box button:nth-child(3) img{
	width: 63px;
	height: 100px;
}
.left-box button:nth-child(2) img{
	width: 63px;
	height: 100px;
}
.left-box button:nth-child(1) img{
	width: 70px;
	height: 70px;
	margin-left: 0;
}


.star1{
    position: absolute;
    right: 60px;
    top: 15px;
    width: 100px;
    height: auto;
}


.left-box h3{
	position: absolute;
    font-size: 22px;
	right: 4px;
	top: 1px;
}

.left-score{
    width: 360px;
    height: 50px;
    left: 5px;
    position: relative;
}


.asdasd{
	margin-left: 320px;
	width: 810px;
	position: absolute;
	top: 0px;
}


.left-score h2{
	position: absolute;
    font-size: 30px;
    top:120px;
    border-top: 4px solid #33ff33;
    width: 300px;
    padding-top: 15px;
}

.star{
    position: absolute;


}

#review-button{
	margin-left: 20px;
}

#mark-button {
	margin-left: 10px;
}

.left-box > h3{
    position: absolute;
    right: 160px;
}

.star{
    margin-left: 10px;
    width: 188px;
    height: 35px;
}

.smr{
    width: 360px;
    margin: 60px 0 0 0;
    display: flex;
    height: 150px;    
}

.smr button:nth-child(2){
    margin-left: 23px;
}

.smr > button{
    background-color: #202020;
    border: none;
    width: 100px;
    height: 100px;
}






.mark{
    background-color: #202020;
}



.review-icon{
    width: 80px;
    object-fit: cover;
}

.button:nth-child(2) img{
    
    scale: 0.87;

}

/*리뷰팝업 시작*/
/*리뷰창 팝업*/



.review-back {
    display: none;
    color: #fff;
    text-indent: -9999px;
    font-size: 500px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }



  .popup11{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2000;
    width: 795px;
    height: 600px;
    overflow: hidden;
  }

  
  
 .popup12{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2000;
    width: 795px;
    height: 600px;
    overflow: hidden;
  }
  
 
  

#modify-review{
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #202020;
    color: #33ff33;
    border-radius: 7px;
    text-align: center;
  }


  .submit-review{
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #202020;
    color: #33ff33;
    border-radius: 7px;
    text-align: center;
  }
  
  
    .submitMod-review{
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #202020;
    color: #33ff33;
    border-radius: 7px;
    text-align: center;
  }

  #review-text{
    width: 794px;
    height: 500px;
    /* position:absolute;
    top: 100px;
    right: 0px; */
    border-radius: 0;
}

#review-text{
    width: 794px;
    height: 500px;
    /* position:absolute;
    top: 100px;
    right: 0px; */
    border-radius: 0;
}

#mod-text{
	    width: 794px;
    height: 500px;
    /* position:absolute;
    top: 100px;
    right: 0px; */
    border-radius: 0;
}



textarea{
    background-color: #202020;
    color: #fff;
}


form label{
    /* position: absolute; */
    font-size: 25px;
    color: #fff;
    /* top: 92px;
    left: 0px; */
    width: 800px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
}
  
  #review-result {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  #cancel-review{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 7.5px;
    right: 10px;
    background-color: #0ba70b;
    border-radius: 7px;
}
#cancel-review > ul{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.5s ease;
}

#cancel-review > ul > li{
    width: 30px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: 45%;
    left: 9.7%;
    transform: translate(-50%,-50%);
    border-radius: 3px;
}



#cancel-review > ul > li:first-child{
    transform: rotate(45deg);
}

#cancel-review > ul > li:last-child{
    transform: rotate(135deg);
}

#cancel-review:hover > ul{
    transform: rotate(180deg);
}



.modcancel-review{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 7.5px;
    right: 10px;
    background-color: #0ba70b;
    border-radius: 7px;
}
.modcancel-review > ul{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.5s ease;
}

.modcancel-review > ul > li{
    width: 30px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: 45%;
    left: 9.7%;
    transform: translate(-50%,-50%);
    border-radius: 3px;
}



.modcancel-review > ul > li:first-child{
    transform: rotate(45deg);
}

.modcancel-review > ul > li:last-child{
    transform: rotate(135deg);
}

.modcancel-review:hover > ul{
    transform: rotate(180deg);
}



.checkedblur{
    cursor: pointer;
    width: 250px;
    height: 40px;
    text-align: center;
}

.checkedblur > input{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    transform: translateY(4px);
}



.reveiw-star-footer{
    background-color: #202020;
    width: 100%;
    height: 40px;
    /* left: 0px;
    bottom: 0px;
    position: absolute; */
    border-radius: 5px;
    line-height: 40px;
    text-align: left;
    transform: translateY(-4.5px);
}

.reveiw-star-footer > div{
    display: inline-block;
    /* transform: translateY(-5px); */
}

.review-star{
    width: 300px;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
}

.star3{
    width: 120px;
    object-fit: cover;
    margin-left: 15px;
    margin-bottom: 5px;
}

.review-bottom{
    width: 490px;
    height: 40px;
    text-align: right;
    line-height: 40px;
}

.review-bottom > div{
    display: inline-block;
}


  
/*리뷰팝업 종료*/
  


.advertisement{
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 15rem; 
    height: 25rem; 
    position: absolute;
    margin-top: 300px;
    
    
}

.advertisement > p {
    text-align: center;
    margin-top: 170px;
    font-size: x-large;
}

.review-count{
	position: relative;
    border-bottom: 3px solid #33ff33;
    display: block;
    width: 806px;
    height: 30px;
    left: 330px;
    display: flex;
    justify-content: space-between;
    
}

.review-count > p{
    font-style: oblique;
}


.blur {
    backdrop-filter:blur(0.5rem);
    background-color:rgba(217, 217, 217, 0.6999999881);
    border-radius:2.5rem;
    height:193px;
}

.review-box{
    width: 800px;    
    background-color: #3F3B3B; 
    border: 2px solid rgba(255, 255, 255, 0.493);
    border-radius: 10px;
    margin-left: 330px;
    position: relative;
    margin-bottom: 15px;
}

.review-box-header{
    background-color: #3F3B3B; 
    border-radius: 10px; 
    height: 50px;
    display: flex;
    
}

.user-icon{   
    margin-top: 3px;
    margin-left: 10px;
}

.user-icon img{
    width: 45px;
    height: 45px; 
}

.user-name {
    margin-top: 10px;
    margin-left: 15px;
}

 .point > img{
    position: absolute;
    right: 190px;
    top: 8px;
}

.point > p {
    font-size: x-large;
    color: #00E883;
    display: flex;
    position: absolute;
    right: 140px;
    top: 4px;
} 

 .starpoint_wrap{   
    position: absolute;
    right: 150px;
    top: 15px;
}

.starpoint_box{
    position:relative;
    background:url(https://hsecode.github.io/images_codepen/codepen_sp_star.png) 0 0 no-repeat;
    font-size:0;
    width: 100px;
    height: 20px;

    right: 410px;
    bottom: 4px;
}


.starpoint_box .starpoint_bg{
    display:block;
    position:absolute;
    top:0;
    left:0;
    height:18px;
    background:url(https://hsecode.github.io/images_codepen/codepen_sp_star.png) 0 -20px no-repeat;
    pointer-events:none;
}

.starpoint_box .label_star{
    display:inline-block;
    width:10px;
    height:18px;
    box-sizing:border-box;
}

.starpoint_box .star_radio{
    opacity:0;
    width:0;
    height:0;
    position:absolute;
}

.starpoint_box .star_radio:nth-of-type(1):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(1):checked ~ .starpoint_bg{
    width:10%;
}

.starpoint_box .star_radio:nth-of-type(2):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(2):checked ~ .starpoint_bg{
    width:20%;
}

.starpoint_box .star_radio:nth-of-type(3):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(3):checked ~ .starpoint_bg{
    width:30%;
}

.starpoint_box .star_radio:nth-of-type(4):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(4):checked ~ .starpoint_bg{
    width:40%;
}

.starpoint_box .star_radio:nth-of-type(5):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(5):checked ~ .starpoint_bg{
    width:50%;
}

.starpoint_box .star_radio:nth-of-type(6):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(6):checked ~ .starpoint_bg{
    width:60%;
}

.starpoint_box .star_radio:nth-of-type(7):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(7):checked ~ .starpoint_bg{
    width:70%;
}

.starpoint_box .star_radio:nth-of-type(8):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(8):checked ~ .starpoint_bg{
    width:80%;
}

.starpoint_box .star_radio:nth-of-type(9):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(9):checked ~ .starpoint_bg{
    width:90%;
}

.starpoint_box .star_radio:nth-of-type(10):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(10):checked ~ .starpoint_bg{
    width:100%;
} 









 .starpoint_wrap2{   
    position: absolute;
    right: 150px;
    top: 15px;
    z-index:9999;
}



.starpoint_box2{
    position:relative;
    background:url(https://hsecode.github.io/images_codepen/codepen_sp_star.png) 0 0 no-repeat;
    font-size:0;
    width: 100px;
    height: 20px;
	z-index:9999;
    right: 410px;
    bottom: 4px;
}

.starpoint_box2 .starpoint_bg2{
    display:block;
    position:absolute;
    top:0;
    left:0;
    height:18px;
    background:url(https://hsecode.github.io/images_codepen/codepen_sp_star.png) 0 -20px no-repeat;
    pointer-events:none;
}

.starpoint_box2 .label_star2{
    display:inline-block;
    width:10px;
    height:18px;
    box-sizing:border-box;
}

.starpoint_box2 .star_radio2{
    opacity:0;
    width:0;
    height:0;
    position:absolute;
}

.starpoint_box2 .star_radio2:nth-of-type(1):hover ~ .starpoint_bg2,
.starpoint_box2 .star_radio2:nth-of-type(1):checked ~ .starpoint_bg2{
    width:10%;
}

.starpoint_box2 .star_radio2:nth-of-type(2):hover ~ .starpoint_bg2,
.starpoint_box2 .star_radio2:nth-of-type(2):checked ~ .starpoint_bg2{
    width:20%;
}

.starpoint_box2 .star_radio2:nth-of-type(3):hover ~ .starpoint_bg2,
.starpoint_box2 .star_radio2:nth-of-type(3):checked ~ .starpoint_bg2{
    width:30%;
}

.starpoint_box2 .star_radio2:nth-of-type(4):hover ~ .starpoint_bg2,
.starpoint_box2 .star_radio2:nth-of-type(4):checked ~ .starpoint_bg2{
    width:40%;
}

.starpoint_box2 .star_radio2:nth-of-type(5):hover ~ .starpoint_bg2,
.starpoint_box2 .star_radio2:nth-of-type(5):checked ~ .starpoint_bg2{
    width:50%;
}

.starpoint_box2 .star_radio2:nth-of-type(6):hover ~ .starpoint_bg2,
.starpoint_box2 .star_radio2:nth-of-type(6):checked ~ .starpoint_bg2{
    width:60%;
}

.starpoint_box2 .star_radio2:nth-of-type(7):hover ~ .starpoint_bg2,
.starpoint_box2 .star_radio2:nth-of-type(7):checked ~ .starpoint_bg2{
    width:70%;
}

.starpoint_box2 .star_radio2:nth-of-type(8):hover ~ .starpoint_bg2,
.starpoint_box2 .star_radio2:nth-of-type(8):checked ~ .starpoint_bg2{
    width:80%;
}

.starpoint_box2 .star_radio2:nth-of-type(9):hover ~ .starpoint_bg2,
.starpoint_box2 .star_radio2:nth-of-type(9):checked ~ .starpoint_bg2{
    width:90%;
}

.starpoint_box2 .star_radio2:nth-of-type(10):hover ~ .starpoint_bg2,
.starpoint_box2 .star_radio2:nth-of-type(10):checked ~ .starpoint_bg2{
    width:100%;
} 






.removeBtn{
	position: absolute;
	right: 20px;
	bottom: 8px;
	font-size: 16.3px;
}















 .blind{
    position:absolute;
    clip:rect(0 0 0 0);
    margin:-1px;
    width:1px;
    height: 1px;
    overflow:hidden;
} 

.heart{   
    position: absolute;
    right: 13px;
    top: 10px;
}

.heart_img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;   
    transform: rotateY(-50%);
  }
  .heart_img:hover {
    background-position: -2800px 0;
    transition: background 1s steps(28); 
  }
  @keyframes fave-heart {
    0% {
      background-position: 0 0;
    }
    100% {
      
      background-position: -2800px 0;
    }
  }


.comment > a > img {
    width: 32px;
    position: absolute;
    right: 15px;
    top: 8px;
}
  
  
.review-box-body {
    background-color:#3F3B3B;
    border-top: 1px solid rgba(255, 255, 255, 0.493);
    height: 100px;
    padding: 10px;
}

.review-box-body p {
    font-size: 15px;
    color: white;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 세 줄 이후 생략 부호 표시 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-break: anywhere;
}


.review-box-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.493);
    height: 40px;
    position: relative;
    
}

.like {
    position: absolute;
    top: 5px;
    left: 10px;
}

.like-count{    
    position: absolute;
    top: 6px;
    left: 40px;
}

.footer-comment{
    position: absolute;
    top: 5px;
    left: 110px;
}

.comment-count {
    position: absolute;
    top: 6px;
    left: 140px;
}

.report button img{
    position: absolute;
    right: 55px;
    bottom: 13px;
}





.add-comment > a > img {
    position: absolute;
    top: 14px;
    right: 77px;
}

.add-comment > a > p{
    position: absolute;
    top: 11.5px;
    right: 15px;
}

.rating {
	position: absolute;
	right: 60px;
	top: 6px;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: gray;
	color: white;
	padding: 3px;
}

.rating > img {
	width: 32px;
	
}

  .removeBtn img{
  	width: 20px;
  	height: 20px;
  	margin-right: 3px;
  	
  }

.modify {
	position: absolute;
    right: 90px;
    bottom: 9px;
}

#modify img{
	width: 20px;
	height: 20px;
	margin-right: 3px;
  	
}

.noReview{
	position: relative;
	width: 300px;
	margin-top: 30px;
	left: 620px;
	font-size: large;
}

.avgStar {
	position: absolute;
	left: 4px;
	top: 6px;
	
}

.avgStar_wrap {
	position: relative;
	left: 0px;
	top: 30px;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: gray;
	height: 35px;
	width: 245px;
}

/* 모달 */

.modal-content{
    background-color: #202020;
}

.modal-body{
    font-size: 26px;
    text-align: center;
    border: 1px solid #fff;
}

.modal-header{
    border: 1px solid #fff;
}

.modal-footer{
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-end;
}
 
.modi-del{
   display: flex;
    justify-content: flex-end;
}


.qa-main p{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.btn{
    color: #fff;
    background-color: transparent;
    border-style: none;
    border-color: #fff; 
    font-size: 23px; 
    text-decoration: none;
}


.btn:hover{
    border-color: #33FF33;
    background-color: transparent;
    border-style: solid;
    color: #33FF33; 
}
.report {
    position: absolute;
    right: 10px;
    bottom: 8px;
}

.report-text{
	position: absolute;
    right: 10px;
    bottom: 0px;
	width: 30px;
}

.report .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  right: 70px;
  bottom: 3px;
}

.report img.reportBtn {
	position: absolute;
    right: 45px;
    bottom: 4px;
  	cursor: pointer;
}

.report .dropdown-menu.active {
  display: block;
}


.report img.reportBtn:focus + .dropdown-menu {
  display: block;
}

.dropdown-menu button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 150px;
}

.spoiler{
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;    
    height: 190px;
    background-color: rgba(112, 112, 112, 0.99);
    border-radius: 10px;
    z-index: 5;
    line-height: 200px;
    text-align: center;
    cursor: pointer;
}

.spoiler span{
	color: red;
}
